<!--Footer-->
<footer class="row row-cols-2 row-cols-md-3 px-5 py-3 text-light">
  <div class="col">
    <h4>Navigation</h4>
    <ul class="footer-list">
      <li><a class="footer-link" href="/">Home</a></li>
      <li><a class="footer-link" href="/products/all">Products</a></li>
      <li><a class="footer-link" href="/about">About Us</a></li>
      <li><a class="footer-link" href="/contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="col">
    <h4>Partners</h4>
    <ul class="footer-list">
      <li><a class="footer-link" href="#">Acme Corp.</a></li>
      <li><a class="footer-link" href="#">Gekko & Co.</a></li>
      <li><a class="footer-link" href="#">Wayne Enterprises</a></li>
      <li><a class="footer-link" href="#">Cyberdyne Systems</a></li>
    </ul>
  </div>
  <div
    class="col-12 col-md d-flex justify-content-center align-items-center flex-wrap"
  >
    <i class="telephone bi bi-telephone-fill contact-link-footer mx-2 fs-4"></i>
    <i class="facebook bi bi-facebook contact-link-footer mx-2 fs-4"></i>
    <i class="messenger bi bi-messenger contact-link-footer mx-2 fs-4"></i>
    <i class="twitter bi bi-twitter contact-link-footer mx-2 fs-4"></i>
    <i class="instagram bi bi-instagram contact-link-footer mx-2 fs-4"></i>
    <i class="telegram bi bi-telegram contact-link-footer mx-2 fs-4"></i>
  </div>
</footer>