{{> nav}}
<!--Contact-->
<main id="contact">
    <div class="container py-5">
        <h2 class="contact-h2">
            Contact <span>Us</span>
        </h2>
        <div class="row px-5 py-2">
            <div class="col-md-6 order-1 order-md-0 px-0 pt-5 p-md-0 py-lg-5 d-flex flex-wrap justify-content-center">
                <i class="telephone bi bi-telephone-fill contact-link"></i>
                <i class="facebook bi bi-facebook contact-link"></i>
                <i class="messenger bi bi-messenger contact-link"></i>
                <i class="twitter bi bi-twitter contact-link"></i>
                <i class="instagram bi bi-instagram contact-link"></i>
                <i class="telegram bi bi-telegram contact-link"></i>
            </div>
            <div class="col-md-6 px-3 px-md-5">
                <form action="https://formspree.io/f/mbjbnjby" method="POST">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Name">
                    <label class="form-label mt-2" for="email">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="example@example.com">
                    <label class="form-label mt-2" for="message">Message</label>
                    <textarea class="form-control" type="email" name="message" placeholder="Tell us something..."></textarea>
                    <div class="d-flex justify-content-end">
                        <button class="btn-1 mt-3" id="send" type="submit"><i class="bi bi-send"></i> Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{{> footer}}