{{> nav}}

<!--Main-->
<main>
  <div id="landing" class="row row-cols-1 row-cols-sm-2 justify-content-center">
    <div
      class="col p-2 d-flex flex-column align-items-center justify-content-start justify-content-sm-center text-center p-sm-5"
      id="landing-text"
    >
        <h2>
          Latest hardware,
          <br />
          with the lowest price.
        </h2>
        <br>
        <div id="landing-buttons">
          <a class="btn-1" href="/products/all">Shop Now</a>
        </div>
      </div>
      <div class="col d-flex align-items-center">
      <img class="landing-img" src="/img/isometric-pc.jpg" alt="" />
    </div>
    </div>
  </div>
</main>

{{> footer}}