{{> nav}}

<!--Main-->
<main style="background-color: #b3e0ff;">
  <div
    id="landing"
    class="row row-cols-1 row-cols-sm-2 justify-content-center container-md mx-auto"
  >
    <div
      class="col p-2 d-flex flex-column align-items-center align-items-md-start justify-content-start justify-content-sm-center p-md-5 text-center text-md-start"
      id="landing-text"
    >
      <h2>
        Latest hardware,
        <br />
        with the lowest price.
      </h2>
      <br />
      <div id="landing-buttons">
        <a class="btn-1" href="/products/all">Shop Now</a>
      </div>
    </div>
    <div class="col d-flex align-items-center">
      <img class="landing-img" src="/img/isometric-pc.jpg" alt="" />
    </div>
  </div>
  <div id="featured1" class="text-center text-md-start">
    <div class="row">
      <div class="col-md-6 text-light featured-text p-5 d-flex flex-column justify-content-center align-items-center align-items-md-start" data-aos="fade-right" data-aos-duration="3000">
        <h3>
          GEFORCE GTX
          <span>1080</span>
        </h3>
        <h5>NVIDIA's GeForce GTX 1080 is powered by the award-winning NVIDIA
          Pascal ™ architecture. Discover amazing performance, power efficiency,
          and gaming experiences. This is the ultimate gaming platform.
          #GameReady.</h5>
          <br>
          <img src="/img/products/1080.png" class="featured-img w-100 d-md-none" />
        <ul>
          <li>UP TO <span>3X FASTER PERFORMANCE</span></li>
          <li>LATEST <span>GAMING TECHNOLOGIES</span></li>
          <li>NEXT-GEN <span>VR EXPERIENCES</span></li>
        </ul>
        <br>
        <a class="gtx-btn" href="#">CHECK IT OUT!</a>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <img src="/img/products/1080.png" class="featured-img w-100 d-none d-md-block" />
      </div>
    </div>
  </div>
</main>

{{> footer}}