{{> nav}}
    <!--Main-->
    <main>
      <div class="row">
        <!--Categories-->
        <div id="categories" class="col-4 col-lg-2 d-none d-lg-block">
          <h5><strong>Categories:</strong></h5>
          <ul>
            <li><a href="/products/all" class="category-link">All</a></li>
            <li><a href="/products/category/?category=1" class="category-link">Processors</a></li>
            <li><a href="/products/category/?category=2" class="category-link">Motherboards</a></li>
            <li><a href="/products/category/?category=3" class="category-link">RAM</a></li>
            <li><a href="/products/category/?category=4" class="category-link">Graphics Cards</a></li>
            <li><a href="/products/category/?category=5" class="category-link">HDD/SSD</a></li>
          </ul>
        </div>
        <div id="products-list" class="col-12 col-lg-10">
          <div id="products-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Spider PC Store</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Products
              </li>
            </ol>
          </div>
          <!--Grid-->
          <div
            id="products-grid"
            class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2 g-md-3 g-lg-5"
          >
          {{#each data}}
              {{> products-grid}}
          {{/each}}
          </div>
        </div>
      </div>
    </main>

    {{> footer}}